@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.video-fluid
{
  position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
  opacity: 30%;
}

.titulo {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h2{
  font-size: 45px;
  font-family: Dela Gothic One;
  color:rgb(60, 201, 236);
}


@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
