
  <video class="video-fluid" autoplay loop>
    <source src="https://vod-progressive.akamaized.net/exp=1624387792~acl=%2Fvimeo-prod-skyfire-std-us%2F01%2F2898%2F22%2F564490495%2F2669255364.mp4~hmac=356bfea592f07cd0872254e44265892b224c798caa363762270cf9b1c31d4180/vimeo-prod-skyfire-std-us/01/2898/22/564490495/2669255364.mp4?filename=Turtle+-+77991.mp4" type="video/mp4" />
  </video>
  <div id="imagens">
    <img class="logo" width="400" src="assets/imagens/logo.png">
  </div>


<div class="content" role="main">
  <h2>Projetos</h2>
  <p>A baixo é possivel visualizar os projetos realizados.</p>
  <div class="card-container" id="projetos">
    <div class="row">
      <div class="col-sm-4">
        <div class="card-body">
          <img class="card-img-bottom" src="assets/imagens/calculadora.jpg" alt="Card image" style="width:100%">
        </div>
        <div class="card-footer">
          <a [routerLink]="['/calculadora']" routerLinkActive="active" class="btn btn1">Calculator</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card-body">
          <img class="card-img-bottom" src="assets/imagens/readMeGen.jpg" alt="Card image" style="width:100%">
        </div>
        <div class="card-footer">
          <a [routerLink]="['/readMeGen']" routerLinkActive="active" class="btn btn1">ReadMe Gen</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card-body">
          <img class="card-img-bottom" src="assets/imagens/experiments.jpg" alt="Card image" style="width:100%">
        </div>
        <div class="card-footer">
          <a [routerLink]="['/experiments']" routerLinkActive="active" class="btn btn1">Experiments</a>
        </div>
      </div>
    </div>
    </div>
    <div class="card-container" id="projetos">
    <div class="row">
      <div class="col-sm-4">
        <div class="card-body">
          <img class="card-img-bottom" src="assets/imagens/events.jpg" alt="Card image" style="width:100%">
        </div>
        <div class="card-footer">
          <a [routerLink]="['/enAndRef']" routerLinkActive="active" class="btn btn1">Events</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card-body">
          <img class="card-img-bottom" src="assets/imagens/animal.jfif" alt="Card image" style="width:100%">
        </div>
        <div class="card-footer">
          <a [routerLink]="['/fichaAnimal']" routerLinkActive="active" class="btn btn1">Animal</a>
        </div>
      </div>
    </div>
  </div>
</div>


