.cookies
{
  position: fixed;
  bottom: 0;
  /*vh - percentagem em altura*/
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.582) ;
  color:  rgb(60, 201, 236);
  font-weight: 400px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100vw;
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
  animation-name: subir;
  animation-duration: 2s;

}
@keyframes subir
{
  from{bottom: -25vh;}
  to{bottom: 0;}
}

.btn{
  background-color: rgb(60, 201, 236);
  border-color: rgb(60, 201, 236);
}
