<video class="video-fluid" autoplay loop>
  <source src="assets/img/Turtle.mp4" type="video/mp4" />
</video>
<div>
  <input type="text" [style.background] = "cor" (mouseenter)='changeColor("#87e5da")' (focus)='changeColor("#3d84a8")' (blur)='changeColor("grey")' (input)='changeColor("#00eaff")' (copy)='changeColor("yellow")' #ref>
<p> <br>
  <button class = " btn btn-secondary" (click)="color(ref)">Color</button>
  <button class = " btn btn-secondary" (click)="size(ref)">Size</button>
  <button class = " btn btn-secondary" (click)="background(ref)">Background</button>
</div>

