div
{
  position: absolute;
  top: 40%;
  left: 35%;
}
.btn
{
  margin: 5px;
  opacity: 70%;
  background-color: #3d84a8;
}
input
{
  width: 500px;
  opacity: 55%;
}
.video-fluid
{
  position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
  opacity: 30%;
}
