@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.video-fluid
{
  position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
  opacity: 30%;
}

.erro{
  position: absolute;
  top:40%;
  left: 38%;
}

h1{
    font-family: Dela Gothic One;
    font-size: 45px;;
    color:rgb(60, 201, 236);
  }
